doctype html
html(lang='en')
	head
		h1 Welcome to BookStore
		p Edit Book using below form
		title= title
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/style.css')  
	body
		form(method='post',action='/book/update/#{book._id}',enctype='multipart/form-data')
			.form-group
				lable ISBN :
				input.form-control(name='isbn', type='text', value="#{book.isbn}")
			.form-group
				lable Name of Book :
				input.form-control(name='name', type='text', value="#{book.name}")
			.form-group
				lable Author Name :
				input.form-control(name='authName', type='text', value="#{book.authName}")
			.form-group
				lable Date :
				input.form-control(name='date', type='text', value="#{book.date}")
			.form-group
				lable Price :
				input.form-control(name='price', type='text', value="#{book.price}")
			.form-group
				lable Upload Book :
				input.form-control(name='documentPath', type='file', value="#{book.documentPath}")
			input.btn.btn-primary(name='submit',type="submit",value='ADD BOOK') 	
						